.gpuWrapper {
    padding: 30px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gpuWrapper_productImg {
    /* min-height: 60vh; */
    max-height: 90vh;
    flex: 1 1 25%;
    max-width: 330px;
    min-width: 255px;
    display: flex;
    flex-direction: column;
    background: #495057;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 45px;

}

.gpuWrapper_productImg img {
    /* aspect-ratio: 1/2; */
    border-radius: 10px 10px 0 0  ;
    height: 400px;
    cursor: pointer;
    object-fit: cover;
}

.gpuWrapper_productImg img:hover {
    transform: scale(1.5);
}

.gpuWrapper_productImg_info {
    padding: 10px 0 ;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 15px;
}

.user_ratings_gpu {
    padding: 0 0 20px 20px;
}

.gpuWrapper_specs {
    padding: 30px 50px;
    min-height: 50vh;
    flex: 1 1 55%;
    max-width: 55%;
    min-width: 350px;
}

.gpuWrapper_specs h6 {
    margin: 5px 0;
}

.similar_products_gpu {
    height: 44vh;
    margin: 20px 0 0 0;
    overflow-y: hidden;

}

.similar_products_gpus {
    overflow-x: auto;
    max-width: 100%;
    display: flex;
    gap: 10px;
}


@media(max-width: 720px) {
    .gpuWrapper_productImg {
        max-width: 90%;
    }
    .gpuWrapper_specs {
        max-width: 90%;
        padding: 30px 10px;
    }
}

@media(max-width: 640px) {
    
    .gpuWrapper {
        padding: 30px 10px;
    }
}