.pcProductCardWrapper {
    height: 425px;
    display: flex;
    flex-direction: column;
    background: #073b4c;
    border-radius: 10px;
    flex: 1 1;
    padding: 5px;
    color: white;
    cursor: pointer;
    /* max-width: 300px;
    min-width: 200px; */
    width: 200px;
    margin: 0 auto;
}

.pcProductImg {
    border-radius: 10px;
    object-fit: cover;
}

.pcProductImg:hover {
    transform: scale(1.2);
}

